.sidebar {
  width: 250px;
  background-color: #000000;
  color: #fff;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
}

.sidebar .logo {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 30px;
  text-align: center;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.sidebar-nav a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 8px;
  transition: background 0.3s;
}

.sidebar-nav a.active,
.sidebar-nav a:hover {
  background-color: #090d1e;
}
